<%- include("partials/header.ejs") %>




<h1>About Me</h1>
<img class="profile" src="images/me.jpg" alt="cat profile">
<p> I  am chandu gouda..currently,i am pursuing my degree from VIT chennai</p>

<p> I  am very passionate about web dev.</p>
  <%- include("partials/footer.ejs") %>